:root {
  --width: 768px;
  --tilew: 33%;

  --cprime: "Courier Prime", Terminus, Consolas, monospace;
  --josefin: "Josefin Sans", Arial, sans;
  --alegreya: "Alegreya", "Times New Roman", Times, serif;
}

.frontis .bowler {
  width: 500px;
}
.frontis .top {
  height: 224px;
}
.frontis .code {
  width: 550px;
  font-size: 16px;
}
.frontis .title {
  font-size: 3rem;
}


body {
  color: #191919;
  background-color: #fcfcff;
  margin: 0;
}

.page {
  max-width: var(--width);
  overflow: hidden;
  margin: 0 auto
}

.frontis .top {
  width: 100%;
  position: relative;
}

.frontis .bowler {
  z-index: 1;
  position: relative;
}

.frontis .code {
  color: #ccc;
  font-family: var(--cprime);
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  text-align: justify;
  font-weight: bold;
  margin: 0;
}

.frontis .bottom {
  width: 100%;
  position: relative;
  z-index: -1
}

.frontis .title {
  font-family: var(--alegreya);
  text-align: right;
  font-weight: 500;
  line-height: 1.2em;

}

.frontis .title .software {
  font-size: 3em;
}

.frontis .title .byline {
  font-size: .6em;
  font-family: var(--josefin);
}

.frontis .title .name {
  font-size: 1.5em;
  font-family: var(--cprime);
  font-weight: 700;
}

.frontis .prompt {
  position: absolute;
  bottom: 0;
  left: 10px;
  font-family: var(--cprime);
  font-size: 1.6em;
  color: #aaa
}

.frontis .money {
  float: left
}

.frontis .cursor {
  width: .5em;
  height: .9em;
  border: 1px solid #aaa;
  color: white;
  float: left;
  margin-left: .3em
}

.frontis:hover .cursor {
  background-color: #aaa
}

.content {
  clear: both;
  position: relative;
  bottom: 50px;
  text-align: center;
  margin-top: 3em
}

.content .blurb {
  clear: both;
  font-family: var(--alegreya);
  font-size: 1.5em;
  text-align: justify;
  text-align: left
}

.content .rule {
  margin: 0 auto;
  clear: both;
  margin-top: 1rem;
}

.software-lists {
  width: 100%;
  clear: both;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.software-list {
  font-size: 1.5em;
  font-family: var(--josefin);
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
  box-sizing: border-box;
  width: var(--tilew);
}

.software-list .list-heading {
  font-family: var(--josefin);
  font-weight: normal;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}

.software-list a {
  text-decoration: none;
  color: #6e7fd2
}

.software-list a:hover {
  text-decoration: underline
}

.software-list dd {
  font-size: .8em;
  margin-left: 1em;
  margin-bottom: .5em;
  font-family: var(--alegreya);
}

.software-list dt {
  font-family: var(--cprime);
  font-size: .8em;
  font-weight: bold
}

.software-list dl {
  padding-left: 1rem;
  padding-right: 1rem;
}

.software-list .docs-link {
  font-weight: normal;
  font-size: .9em;
  color: #191919
}


@media (min-width: 0px) {
  :root {
    --width: 200px;
    --tilew: 100%;
  }
  .frontis .bowler {
    width: 200px;
  }
  .frontis .top {
    height: 97px;
  }
  .frontis .code {
    width: 200px;
    font-size: 6px;
  }
  .frontis .title {
    font-size: 0.95rem;
  }
  .frontis .prompt {
    display: none;
  }
  .content .rule {
    width: calc(var(--width) - 40px);
  }
}
@media (min-width: 320px) {
  :root {
    --width: 320px;
  }
  .frontis .bowler {
    width: 320px;
  }
  .frontis .top {
    height: 155px;
  }
  .frontis .code {
    width: 320px;
    font-size: 10px;
  }
  .frontis .title {
    font-size: 1.5rem;
  }
}
@media (min-width: 425px) {
  :root {
    --width: 425px;
  }
  .frontis .bowler {
    width: 425px;
  }
  .frontis .top {
    height: 205px;
  }
  .frontis .code {
    width: 425px;
    font-size: 13px;
  }
  .frontis .title {
    font-size: 2rem;
  }
}
@media (min-width: 768px) {
  :root {
    --width: 768px;
    --tilew: 50%;
  }
  .frontis .bowler {
    width: 481px;
  }
  .frontis .top {
    height: 205px;
  }
  .frontis .code {
    width: 768px;
    font-size: 20px;
  }
  .content .rule {
    width: 500px;
  }
  .frontis .title {
    font-size: 3rem;
  }
  .frontis .prompt {
    display: block;
  }
}
