<span class="hexlink hl-external hl-generic">
  <a class="hl-inner autolink" href="{{this}}">
    <span class="hl-title">
      {{#> @partial-block }}
      {{#if text}}
      {{text}}
      {{else}}
      {{autoext this}}
      {{/if}}
      {{/ @partial-block }}
    </span>
  </a>
</span>