<div class="hexportal">

  <div class="hexblock hexline heading">
    <h2 class="hexline-item hextitle t3 c2">
      {{>linkto (go "/index") current=current text="INDEX"}}
    </h2>
    <div class="sep hextitle t3 c2">&middot;</div>
    <h3 class="hexline-item hextitle t4 c2">
      {{>linkto (go "/tags") current=current text="TAGS"}}
    </h3>
    <div class="sep hextitle t3 c2">&middot;</div>
    <div class="tag-list">
      {{#each mainTags}}
      {{>tagLink this current=../current}}
      {{/each}}
    </div>
  </div>

  <div class="hexblock hexline heading">
    <h3 class="hexline-item hextitle t6 c2">
      {{>linkto (go "/info/about") current=current text="ABOUT"}}
    </h3>
    <div class="sep hextitle t5 c1">&middot;</div>
    <h3 class="hexline-item hextitle t6 c2">
      {{>linkto (go "/info/author") current=current text="AUTHOR"}}
    </h3>
    <div class="sep hextitle t5 c1">&middot;</div>
    <h3 class="hexline-item hextitle t6 c2">
      {{>linkto current current=current anchor="directory" text="DIRECTORY"}}
    </h3>
  </div>

</div>
