{{#if list}}
<ul class="hexlisting blog-listing">
{{#each list}}
  <li class="hexentry{{#if image}} he-thumb{{/if}}">
    {{>linkto this current=../current showbdate=true showns=../showns thumb=true}}
  </li>
{{/each}}
</ul>
{{else}}
{{#if content}}{{{content}}}{{/if}}
{{/if}}