<div class="home-navigation hexchrome">
  <div class="hexblock b1">
  {{>menu}}
  </div>
  {{>portal listing=short}}
  <div class="centered">
    <img class="rule" src="{{image "dash-4"}}" />
  </div>
</div>

<div class="software-lists hexchrome">

  <!-- Node.js -->
  <div class="wide-list">
    <h2 class="list-heading">Node.js</h2>
    
    <div class="lists">
      <div class="software-list">
        <dl>
          <dt>
            {{>linkto (egh "0E9B061F/scroll")}}
            <span class="docs-link">[{{>linkto (enpm "scroll-backup" "npm")}}]</span>
          </dt>
          <dd>Configurable backup system using restic and rsync</dd>

          <dt>
            {{>linkto (egh "0E9B061F/cpb" "Commonplace Book")}}
            <span class="docs-link">[{{>linkto (ext "https://0x2764.com" "example")}}]</span>
          </dt>
          <dd>Multi-user wiki implemented as a singple-page application</dd>
      
          <dt>
            {{>linkto (egh "0E9B061F/heretag")}}
            <span class="docs-link">[{{>linkto (enpm "heretag" "npm")}}]</span>
          </dt>
          <dd>Heredoc implementation using template literals</dd>

          <dt>
            {{>linkto (egh "0E9B061F/panopticon.js")}}
          </dt>
          <dd>Recursive state management library</dd>
          
        </dl>
      </div>
      <div class="software-list">
        <dl>
          <dt>
            {{>linkto (egh "0E9B061F/ghast.js")}}
            <span class="docs-link">[{{>linkto (go "/docs/ghast.js") text="docs"}}]</span>
            <span class="docs-link">[{{>linkto (enpm "ghast.js" "npm")}}]</span>
          </dt>
          <dd>Abstract syntax tree for Peggy/PEG.js</dd>
      
          <dt>
            {{>linkto (egh "0E9B061F/lexdoc")}}
            <span class="docs-link">[{{>linkto (enpm "lexdoc" "npm")}}]</span>
          </dt>
          <dd>Simplified lexer creation library for Chevrotain</dd>

          <dt>
            {{>linkto (egh "0E9B061F/fantasma.js")}}
            <span class="docs-link">[{{>linkto (go "/gallery/fantasma-example") text="example"}}]</span>
            <span class="docs-link">[{{>linkto (enpm "fantasma.js" "npm")}}]</span>
          </dt>
          <dd>Sophisticated animation library for the web</dd>

          <dt>
            {{>linkto (egh "0E9B061F/waxwing.js")}}
            <span class="docs-link">[{{>linkto (enpm "waxwing.js" "npm")}}]</span>
          </dt>
          <dd>Create HTML in JS using a simple and elegant DSL</dd>
        </dl>
      </div>
    </div>
  </div>

  <!-- Arch Linux -->
  <div class="software-list">
    <h2 class="list-heading">Arch Linux</h2>
    <dl>
      <dt>
        {{>linkto (egh "0E9B061F/addmag")}}
      </dt>
      <dd>Open magnet links with a remote Transmission daemon</dd>
    </dl>
  </div>

  <!-- Contributions -->
  <div class="software-list">
    <h2 class="list-heading">Contributions</h2>
    <dl>
      <dt>
        {{>linkto (egh "pablo-abc/svelte-markdown")}}
      </dt>
      <dd>Implemented support for pre-processed tokens</dd>
    </dl>
  </div>

  <!-- CLI Tools -->
  <div class="wide-list">
    <h2 class="list-heading">CLI Tools</h2>
    
    <div class="lists">

      <div class="software-list">
        <dl>
          <dt>
            {{>linkto (egh "0E9B061F/imgfilter")}}
          </dt>
          <dd>Filterable image file selection dialogue</dd>
          
          <dt>
            {{>linkto (egh "0E9B061F/hashbeam")}}
          </dt>
          <dd>Get a public link for a local image, uploading only as necessary</dd>

          <dt>
            {{>linkto (egh "0E9B061F/pig")}}
          </dt>
          <dd>A simple image scraper</dd>
        </dl>
      </div>

      <div class="software-list">
        <dl>
          <dt>
            {{>linkto (egh "0E9B061F/invisibleink")}}
          </dt>
          <dd>Script for working with GPG-encrypted text</dd>
          
          <dt>
            {{>linkto (egh "0E9B061F/xthemes")}}
          </dt>
          <dd>Manage color themes for X</dd>
        </dl>
      </div>

    </div>
  </div>

  <!-- Ruby Gems -->
  <div class="software-list">
    <h2 class="list-heading">Ruby Gems</h2>
    <dl>
      <dt>
        {{>linkto (egh "0E9B061F/arkweb" "ARKWEB")}}
      </dt>
      <dd>A flat website compiler</dd>
  
      <dt>
        {{>linkto (egh "0E9B061F/ark-cli")}}
      </dt>
      <dd>Full-featured command line interface library for Ruby</dd>
  
      <dt>
        {{>linkto (egh "0E9B061F/ark-util")}}
      </dt>
      <dd>Utility library in Ruby used by other ark* gems</dd>
    </dl>
  </div>

  <div class="software-list">
    <h2 class="list-heading">GUI Applications</h2>
    <dl>
      <dt>
        {{>linkto (egh "0E9B061F/batchrename")}}
      </dt>
      <dd>Batch file renamer for Windows</dd>
    </dl>
  </div>
</div>
