<a class="gallery-item" href="{{item.href}}">
  <div class="gallery-window">
    {{#if item.image}}
    <img src="{{item.image}}"/>
    {{/if}}
    <div class="gallery-screen"></div>
  </div>
  <div class="gallery-caption">
    <div class="gallery-title">{{item.title}}</div>
    <div class="gallery-desc">{{item.desc}}</div>
  </div>
</a>