<a class="gallery-item plain" href="{{item.href}}">
  <div class="gallery-window">
    {{#if item.image}}
    <img src="{{image item.image}}"/>
    {{/if}}
    <div class="gallery-screen"></div>
  </div>
  <div class="gallery-caption">
    <div class="gallery-title">{{{item.titleHtml}}}</div>
    <div class="gallery-desc">{{item.desc}}</div>
  </div>
</a>