.hextitle, .hextxt {
  margin: 0;
  &.t1 {
    font-size: 2.5em;
  }
  &.t2 {
    font-size: 2em;
  }
  &.t3 {
    font-size: 1.5em;
  }
  &, &.t4 {
    font-size: 1.2em;
  }
  &.t5 {
    font-size: 1.1em;
  }
  &.t6 {
    font-size: 1em;
  }
  &.c1 {
    font-weight: 700;
  }
  &.c2 {
    font-weight: 600;
  }
  &.c3 {
    font-weight: 500;
  }
}
.hextitle {
  font-family: var(--josefin);
}

.hexline {
  display: flex;
  align-items: end;
  gap: 0.35em;
  .hexline-item {
    display: flex;
    align-items: baseline;
    gap: inherit;
  }
  .sep {
    user-select: none;
  }
}

.hexblock {
  margin: 0;
  &, &.b0 {
    margin-bottom: 0.5em;
  }
  &.b1 {
    margin-bottom: 1em;
  }
  &.b2 {
    margin-bottom: 2em;
  }
  &.b3 {
    margin-bottom: 3em;
  }
  &.b4 {
    margin-bottom: 4em;
  }
  &.b5 {
    margin-bottom: 5em;
  }
}