.hexlisting {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  .hexentry {
    &:not(.he-thumb) {
      text-indent: -1em;
      padding-left: 1em;
    }
    .hl-date {
      @include t6;
    }
    .hl-namespace {
      @include t6;
      @include c3;
      font-family: var(--josefin);
      color: #808080;
    }
    .hl-title {
      @include t4;
      @include c3;
    }
  }
}

.blog-listing {
  .page & {
    margin: 0 1em 0 1em;
  }
}
