.post-info {
  display: flex;
  gap: 0.75em;
  align-items: baseline;
  justify-content: center;
  .post-date {
    font-size: 1.2em;
    font-weight: 500;
  }
}

@mixin pt1 { font-size: 1.7em; }
@mixin pt2 { font-size: 1.55em; }
@mixin pt3 { font-size: 1.5em; }
@mixin pt4 { font-size: 1.45em; }
@mixin pt5 { font-size: 1.4em; }
@mixin pt6 { font-size: 1.4em; }

@mixin ph {
  @include heading-body;
  clear: both;
  margin-top: 3em;
}

@mixin ph-top {
  @include ph;
}
@mixin ph-mid {
  @include ph;
}
@mixin ph-low {
  @include ph;
}

@mixin ph1 {
  @include ph-top;
  @include pt1;
  @include c2;
  margin-top: 1em;
}
@mixin ph2 {
  @include ph-top;
  @include pt2;
  @include c2;
  margin-top: 0.8em;
}
@mixin ph3 {
  @include ph-top;
  @include pt3;
  @include c3;
  margin-top: 0.6em;
}
@mixin ph4 {
  @include ph-top;
  @include pt4;
  @include c3;
  margin-top: 0.4em;
}
@mixin ph5 {
  @include ph-top;
  @include pt5;
  margin-top: 0.2em;
}
@mixin ph6 {
  @include ph-top;
  @include pt6;
  margin-top: 0.1em;
}

.post {
  font-size: 1.2em;
  margin-top: 0.83em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-size: 1.25em;
  .title {
    font-size: 2.2em;
    text-align: left;
    margin: 1.5em 0 0 0;
    font-weight: 700;
  }
  h1 { @include ph1; }
  h2 { @include ph2; }
  h3 { @include ph3; }
  h4 { @include ph4; }
  h5 { @include ph5; }
  h6 { @include ph6; }
  pre, code {
    font-family: var(--cprime);
    background-color: var(--gray900);
  }
  code {
    padding: 0 0.35em 0 0.35em;
  }
  pre {
    padding: 0.35em;
    & > code {
      padding: 0;
    }
  }
  figure {
    clear: both;
    margin: 0 0 0.5em 0.5em;
    @media (min-width: 768px) {
      margin: 0 0 2em 1em;
    }
    figcaption {
      font-size: 0.75em;
      width: min-content;
      min-width: 100%;
      @media (min-width: 425px) {
        font-size: 0.8em;
      }
      @media (min-width: 768px) {
        font-size: 0.85em;
      }
    }
    &.fig-right,
    &.fig-left {
      --thsize: 280px;
      max-width: calc(var(--thsize) * 0.4);
      @media (min-width: 425px) {
        max-width: calc(var(--thsize) * 0.5);
      }
      @media (min-width: 768px) {
        max-width: var(--thsize);
      }
    }
    &.fig-right {
      float: right;
    }
    &.fig-left {
      float: left;
    }
    &.fig-center {
      margin: 0 auto;
      max-width: 450px;
    }
    a img:hover {
      border: 2px solid var(--black);
    }
    img {
      max-width: 100%;
      border: 2px solid var(--white);
      transition: border-color 0.2s ease-out;
    }
  }
  .figallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
    clear: both;
    figure {
      margin: 0;
    }
    p {
      display: none;
    }
  }
  .deco-notice {
    font-style: italic;
    margin: 1em;
  }
  .deco-small {
    font-size: 0.9em;
  }
  .deco-right {
    text-align: right;
  }
  .deco-quote {
    margin: 1em 4em 1em 4em;
    p {
      margin: 0;
    }
    .deco-right {
      margin-top: 0.5em;
    }
  }
}

.post .nav {
  display: flex;
  .navdir {
    width: 50%;
  }
  .navdir .button {
    font-weight: 500;
  }
  .navtitle {
    @include headtxt;
    font-size: 0.9em;
  }
  .navdir.next {
    text-align: right;
  }
}

