:root {
    --vm-fontsize: 1rem;
    --vm-sans-stack: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
    --vm-ui-stack: font-family: "Segoe UI", Candara, "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
    --vm-card-radius: 10px;
    --vm-input-radius: 5px;
    --vm-border-width: 2px;

    --vm-border-color: #aea0d7;
    --vm-border-low: #9896ab;
    --vm-border-high: #868bab;
    --vm-border-super: #938bf3;
    --vm-border-focus: #9e9fff;

    --vm-bg-color: #e2e6ff;
    --vm-bg-low: #c1c5df;
    --vm-bg-high: #cad1fd;
    --vm-bg-super: #6e7fd2;
    
    --vm-fg-color: #252525;
    --vm-fg-low: #252525;
    --vm-fg-high: #110c2a;
    --vm-fg-super: #efefff;
    
    --vm-fg-gauge: #9eafd2;
    --vm-bg-gauge: #444c76;
    
    --vm-gapsize: 1rem;

    --vm-shadow-high: drop-shadow(0 0 5px var(--vm-bg-high));
    --vm-shadow-light: drop-shadow(0 0 5px rgba(100, 100, 255, 0.75));
    --vm-shadow-fine: drop-shadow(0 0 3px rgba(100, 100, 255, 0.3));

    --vm-meter-height: 400px;
}

.vm-main {
    position: relative;
    font-size: var(--vm-fontsize);
    font-family: var(--vm-sans-stack);
    color: var(--vm-fg-color);
    height: calc(3.8rem + var(--vm-meter-height) + 2rem + (var(--vm-gapsize) * 2) + 2rem + (var(--vm-border-width) * 2));
    box-sizing: border-box;
    border: var(--vm-border-width) solid var(--vm-border-color);
    border-radius: var(--vm-card-radius);
    background-color: var(--vm-bg-color);
}

.vm-main .card {
    padding: 1rem;
    box-sizing: border-box;
}

.vm-main .vm-chart.card {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.vm-main .meters {
    height: var(--vm-meter-height);
    position: relative;
    width: 100%;
}

.vm-main .meters .meter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
}

.vm-main .meters .meter .spacer {
    width: 0%;
}
.vm-main .meters .meter .display {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
}

.vm-main .meters .meter .display svg {
    margin-left: auto;
    margin-right: auto;
    display: block;
    shape-rendering: geometricPrecision;
}

.vm-main .meters .meter .display svg .labels {
    font-family: var(--vm-ui-stack);
    font-weight: 900;
}
.vm-main .meters .meter .display svg .labels .inner-label {
    font-size: 1.1em;
    fill: var(--vm-fg-gauge);
}
.vm-main .meters .meter .display svg .labels .inner-label.hilite {
    fill: var(--vm-bg-super);
    filter: var(--vm-shadow-fine);
}
.vm-main .meters .meter .display svg .labels .reading {
    font-size: 2em;
    fill: var(--vm-bg-super);
    filter: var(--vm-shadow-fine);
    opacity: 0%;
}
.vm-main .meters .meter .display svg .gauge,
.vm-main .meters .meter .display svg .gate {
    fill: none;
}
.vm-main .meters .meter .display svg .gauge.background,
.vm-main .meters .meter .display svg .gate {
    stroke-width: 30px;
    stroke: var(--vm-bg-gauge);
}
.vm-main .meters .meter .display svg .cover {
    fill: var(--vm-bg-gauge);
}
.vm-main .meters .meter .display svg .gauge.progress {
    stroke-width: 30px;
    stroke: var(--vm-bg-super);
    filter: var(--vm-shadow-light);
}
.vm-main .meters .meter .display svg .needle {
    opacity: 0%;
}
.vm-main .meters .meter .display svg .needle .pivot {
    fill: var(--vm-bg-gauge);
}
.vm-main .meters .meter .display svg .needle .needle-base {
    stroke: var(--vm-bg-gauge);
    stroke-width: 4px;
}

.vm-main .card {
    display: flex;
    flex-direction: column;
    gap: var(--vm-gapsize);
    height: 100%;
    justify-content: space-evenly;
}

.vm-main .card .vm-fields {
    display: flex;
    flex-wrap: wrap;
    gap: var(--vm-gapsize);
}

.vm-main .card .vm-title {
    text-align: center;
    color: var(--vm-fg-color);
    font-size: 2.2rem;
    margin: 0 0 1.8rem 0;
    height: 2rem;
    line-height: 2rem;
    box-sizing: border-box;
}

.vm-main .card .field {
    width: calc(50% - 0.5rem);
}

.vm-main .card .vm-label {
    font-size: 1.4em;
}

.vm-main .card .vm-input {
    font-size: 1em;
    padding: 0.2em;
    border: var(--vm-border-width) solid var(--vm-border-low);
    box-sizing: border-box;
    background-color: var(--vm-bg-low);
    color: var(--vm-fg-low);
}
.vm-main .card .vm-input,
.vm-main .card .vm-button {
    border-radius: var(--vm-input-radius);
    transition: background-color 0.3s ease-in;
    transition: color 0.3s ease-in;
    box-sizing: border-box;
}

.vm-main .card .vm-input:focus-visible {
    outline: 1px solid var(--vm-border-focus);
    border: var(--vm-border-width) solid var(--vm-border-focus);
}

.vm-main .card select {
    cursor: pointer;
}

.vm-main .card .vm-input,
.vm-main .card .full {
    width: 100%;
}

.vm-main .card .vm-button {
    font-size: 1.2rem;
    height: 2rem;
    padding: 0.2rem 0.7rem 0.2rem 0.7rem;
    font-weight: 600;
    filter: var(--vm-shadow-high);
    border: var(--vm-border-width) solid var(--vm-border-high);
    background-color: var(--vm-bg-high);
    color: var(--vm-fg-high);
    cursor: pointer;
}
.vm-main .card a.vm-button {
    text-decoration: none;
}
.vm-main .card .vm-button.valid {
    border: var(--vm-border-width) solid var(--vm-border-super);
    background-color: var(--vm-bg-super);
    color: var(--vm-fg-super);
}

.vm-main .card .vm-input:valid {
    border: var(--vm-border-width) solid var(--vm-border-high);
    background-color: var(--vm-bg-high);
    color: var(--vm-fg-high);
    filter: var(--vm-shadow-fine);
}
.vm-main .card .vm-input:hover,
.vm-main .card .vm-button:hover {
    filter: brightness(1.05) var(--vm-shadow-high);
}

.vm-main .card .center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vm-main .card .blurb {
    text-align: center;
    font-size: 1.3em;
}
