<a class="gallery-item plain" href="{{href}}">
  <div class="gallery-window">
    {{#if image}}
    <img src="{{image image}}"/>
    {{/if}}
    <div class="gallery-screen"></div>
  </div>
  <div class="gallery-caption">
    <div class="gallery-title">{{{titleHtml}}}</div>
    <div class="gallery-desc">{{desc}}</div>
  </div>
</a>