<div class="hexportal">

  <div class="hexblock hexline heading">
    <h2 class="hexline-item hextitle t3 c2">
      {{>link (mask current site.siteindex.href "INDEX")}}
    </h2>
    <div class="sep hextitle t3">&middot;</div>
    <h3 class="hexline-item hextitle t4 c2">
      {{>link (mask current site.tags.href "TAGS")}}
    </h3>
    <div class="sep hextitle t3 c3">&middot;</div>
    <div class="tag-list">
      {{#each mainTags}}
      {{>tagLink this current=../current}}
      {{/each}}
    </div>
  </div>

  {{{listing}}}
</div>