<div class="home-navigation">
  <div class="hexblock b1">
  {{>menu}}
  </div>
  {{>portal listing=short}}
  <div class="centered">
    <img class="rule" src="{{image "dash-4"}}" />
  </div>
</div>

<div class="software-lists">

  <!-- Node.js -->
  <div class="wide-list">
    <h2 class="list-heading">Node.js</h2>
    
    <div class="lists">
      <div class="software-list">
        <dl>
          <dt>
            <a class="link active" href="https://github.com/0E9B061F/scroll">scroll</a>
            <span class="docs-link">[<a class="link active" href="https://www.npmjs.com/package/scroll-backup">npm</a>]</span>
          </dt>
          <dd>Configurable backup system using restic and rsync</dd>

          <dt>
            <a class="link active" href="https://github.com/0E9B061F/cpb">Commonplace Book</a>
            <span class="docs-link">[<a class="link active" href="https://0x2764.com">example</a>]</span>
          </dt>
          <dd>Multi-user wiki implemented as a singple-page application</dd>
      
          <dt>
            <a class="link active" href="https://github.com/0E9B061F/hedo">hedo</a>
            <span class="docs-link">[<a class="link active" href="https://www.npmjs.com/package/hedo">npm</a>]</span>
          </dt>
          <dd>Heredoc implementation using template literals</dd>

          <dt>
            <a class="link active" href="https://github.com/0E9B061F/panopticon.js">panopticon.js</a>
          </dt>
          <dd>Recursive state management library</dd>
          
        </dl>
      </div>
      <div class="software-list">
        <dl>
          <dt>
            <a class="link active" href="https://github.com/0E9B061F/ghast.js">ghast.js</a>
            <span class="docs-link">[<a class="link active" href="/docs/ghast.js">docs</a>]</span>
            <span class="docs-link">[<a class="link active" href="https://www.npmjs.com/package/ghast.js">npm</a>]</span>
          </dt>
          <dd>Abstract syntax tree for Peggy/PEG.js</dd>
      
          <dt>
            <a class="link active" href="https://github.com/0E9B061F/lexdoc">lexdoc</a>
            <span class="docs-link">[<a class="link active" href="https://www.npmjs.com/package/lexdoc">npm</a>]</span>
          </dt>
          <dd>Simplified lexer creation library for Chevrotain</dd>

          <dt>
            <a class="link active" href="https://github.com/0E9B061F/fantasma.js">fantasma.js</a>
            <span class="docs-link">[<a class="link active" href="/gallery/fantasma-example">example</a>]</span>
            <span class="docs-link">[<a class="link active" href="https://www.npmjs.com/package/fantasma.js">npm</a>]</span>
          </dt>
          <dd>Sophisticated animation library for the web</dd>

          <dt>
            <a class="link active" href="https://github.com/0E9B061F/waxwing.js">waxwing.js</a>
            <span class="docs-link">[<a class="link active" href="https://www.npmjs.com/package/waxwing.js">npm</a>]</span>
          </dt>
          <dd>Create HTML in JS using a simple and elegant DSL</dd>
        </dl>
      </div>
    </div>
  </div>

  <!-- Arch Linux -->
  <div class="software-list">
    <h2 class="list-heading">Arch Linux</h2>
    <dl>
      <dt>
        <a class="link active" href="https://github.com/0E9B061F/addmag">addmag</a>
      </dt>
      <dd>Open magnet links with a remote Transmission daemon</dd>
    </dl>
  </div>

  <!-- Contributions -->
  <div class="software-list">
    <h2 class="list-heading">Contributions</h2>
    <dl>
      <dt>
        <a class="link active" href="https://github.com/pablo-abc/svelte-markdown">svelte-markdown</a>
      </dt>
      <dd>Implemented support for pre-processed tokens</dd>
    </dl>
  </div>

  <!-- CLI Tools -->
  <div class="wide-list">
    <h2 class="list-heading">CLI Tools</h2>
    
    <div class="lists">

      <div class="software-list">
        <dl>
          <dt>
            <a class="link active" href="https://github.com/0E9B061F/imgfilter">imgfilter</a>
          </dt>
          <dd>Filterable image file selection dialogue</dd>
          
          <dt>
            <a class="link active" href="https://github.com/0E9B061F/hashbeam">hashbeam</a>
          </dt>
          <dd>Get a public link for a local image, uploading only as necessary</dd>

          <dt>
            <a class="link active" href="https://github.com/0E9B061F/pig">pig</a>
          </dt>
          <dd>A simple image scraper</dd>
        </dl>
      </div>

      <div class="software-list">
        <dl>
          <dt>
            <a class="link active" href="https://github.com/0E9B061F/invisibleink">invisibleink</a>
          </dt>
          <dd>Script for working with GPG-encrypted text</dd>
          
          <dt>
            <a class="link active" href="https://github.com/0E9B061F/xthemes">xthemes</a>
          </dt>
          <dd>Manage color themes for X</dd>
        </dl>
      </div>

    </div>
  </div>

  <!-- Ruby Gems -->
  <div class="software-list">
    <h2 class="list-heading">Ruby Gems</h2>
    <dl>
      <dt>
        <a class="link active" href="https://github.com/0E9B061F/arkweb">ARKWEB</a>
      </dt>
      <dd>A flat website compiler</dd>
  
      <dt>
        <a class="link active" href="https://github.com/0E9B061F/ark-cli">ark-cli</a>
        <span class="docs-link">[<a class="link active" href="/docs/ark-cli">docs</a>]</span>
      </dt>
      <dd>Full-featured command line interface library for Ruby</dd>
  
      <dt>
        <a class="link active" href="https://github.com/0E9B061F/ark-util">ark-util</a>
        <span class="docs-link">[<a class="link active" href="/docs/ark-util">docs</a>]</span>
      </dt>
      <dd>Utility library in Ruby used by other ark* gems</dd>
    </dl>
  </div>

  <div class="software-list">
    <h2 class="list-heading">GUI Applications</h2>
    <dl>
      <dt>
        <a class="link active" href="https://github.com/0E9B061F/batchrename">batchrename</a>
      </dt>
      <dd>Batch file renamer for Windows</dd>
    </dl>
  </div>
</div>
