.hexmenu {
  display: flex;
  gap: 1em;
  .hexitem {
    display: flex;
    gap: inherit;
    .hexitem-bullet {
      height: 1.5em;
    }
  }
  .sidebar & {
    flex-direction: column;
  }
  .page & {
    @media (min-width: 0px) {
      flex-direction: column;
    }
    @media (min-width: 768px) {
      flex-direction: row;
      .hexitem {
        width: 33%;
      }
      .hexitem-bullet {
        display: none;
      }
      .hexitem-desc {
        padding-left: 1em;
      }
    }
  }
}